
@{
    ViewBag.Title = "OtoparkYönetim";
}
<html>
<head>
    <style>
        table {
           font-family: arial;
            width: 100%;
        }

        td, th {
            border: 1px solid #008080;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #008080;
        }
         tr:nth-child(even) {
            background-color: #008080;
        }

        
    </style>
</head>
<body>

    <h2>BOŞ - DOLU PARK ALANI</h2>
    <table>
        <tr>
            <th>A BLOK</th>
            <th>A BLOK</th>
            <th>A BLOK</th>
        </tr>
        <tr>
            <td>        <SCRIPT LANGUAGE="JavaScript">
                
                </SCRIPT>
                <input type="button" onclick="confirm('DOLU');" value="A1">
            

            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A7">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
               
                 <input type="button" onclick="confirm('BOŞ');" value="A13">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('DOLU');" value="A2">
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A8">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A14">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('DOLU');" value="A3">
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A9">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
             
                <input type="button" onclick="confirm('BOŞ');" value="A15">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
               
                <input type="button" onclick="confirm('DOLU');" value="A4">
               
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
              
                <input type="button" onclick="confirm('BOŞ');" value="A10">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A16">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
               
                <input type="button" onclick="confirm('BOŞ');" value="A5">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A11">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                
                <input type="button" onclick="confirm('BOŞ');" value="A17">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
               
                <input type="button" onclick="confirm('BOŞ');" value="A6">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
               
                <input type="button" onclick="confirm('BOŞ');" value="A12">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
               
                <input type="button" onclick="confirm('BOŞ');" value="A18">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
        </tr>
    </table>
    <br />
    <br />
    

    <table>
        <tr>
            <th>B BLOK</th>
            <th>B BLOK</th>
            <th>B BLOK</th>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B1">
                @Html.ActionLink("Müşteri Ekle", "Create")

            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B7">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B13">
                @Html.ActionLink("Müşteri Ekle", "Create")
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('DOLU');" value="B2">
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B8">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B14">
                @Html.ActionLink("Müşteri Ekle", "Create")
                
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B3">
                @Html.ActionLink("Müşteri Ekle", "Create")
               
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B9">
                @Html.ActionLink("Müşteri Ekle", "Create")



               
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B15">
                @Html.ActionLink("Müşteri Ekle", "Create")
               
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B4">
                @Html.ActionLink("Müşteri Ekle", "Create")



                
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B10">
                @Html.ActionLink("Müşteri Ekle", "Create")



               
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B16">
                @Html.ActionLink("Müşteri Ekle", "Create")
             
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B5">
                @Html.ActionLink("Müşteri Ekle", "Create")



               
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B11">
                @Html.ActionLink("Müşteri Ekle", "Create")



               
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B17">
                @Html.ActionLink("Müşteri Ekle", "Create")
               
            </td>
        </tr>
        <tr>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B6">
                @Html.ActionLink("Müşteri Ekle", "Create")
                
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B12">
                @Html.ActionLink("Müşteri Ekle", "Create")



                
            </td>
            <td>
                <SCRIPT LANGUAGE="JavaScript">

                </SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="B18">
                @Html.ActionLink("Müşteri Ekle", "Create")
               
            </td>
        </tr>
    </table>
    <br />
    <br />
    <table>
        <tr>
            <th>C BLOK</th>
            <th>C BLOK</th>
            <th>C BLOK</th>
        </tr>
        <tr>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C1">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT><input type="button" onclick="confirm('BOŞ');" value="C7">
                @Html.ActionLink("Müşteri Ekle", "Create")


            </td>

            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C13">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
        </tr>
        <tr>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT><input type="button" onclick="confirm('DOLU');" value="C2">

</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('DOLU');" value="C8">
                
</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C14">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
        </tr>
        <tr>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C3">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C9">
                @Html.ActionLink("Müşteri Ekle", "Create")


</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C15">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
        </tr>
        <tr>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C4">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C10">
                @Html.ActionLink("Müşteri Ekle", "Create")


</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C16">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
        </tr>
        <tr>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C5">
                @Html.ActionLink("Müşteri Ekle", "Create")


</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C11">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C17">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
        </tr>
        <tr>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C6">
                @Html.ActionLink("Müşteri Ekle", "Create")


</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C12">
                @Html.ActionLink("Müşteri Ekle", "Create")


</td>
            <td><SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
                <input type="button" onclick="confirm('BOŞ');" value="C18">
                @Html.ActionLink("Müşteri Ekle", "Create")
</td>
        </tr>
    </table>
</body>
</html>







